name: Relate Setup
description: Composite action to setup node and pnpm

inputs:
    NODE_VERSION:
        description: Node version
        required: false
        default: lts/*
    PNPM_VERSION:
        description: PNPM version
        required: false
        default: 7.3.0

runs:
    using: composite
    steps:
        - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
          with:
              node-version: ${{ inputs.NODE_VERSION }}

        - uses: pnpm/action-setup@10693b3829bf86eb2572aef5f3571dcf5ca9287d # tag=v2.2.2
          id: pnpm-install
          with:
              version: ${{ inputs.PNPM_VERSION }}
              run_install: false

        - name: Get pnpm store directory
          shell: bash
          id: pnpm-cache
          run: 'echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"'

        - uses: actions/cache@69d9d449aced6a2ede0bc19182fadc3a0a42d2b0 # v3
          name: Setup pnpm cache
          with:
              path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
              key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
              restore-keys: |
                  ${{ runner.os }}-pnpm-store-

        - name: Install dependencies
          shell: bash
          run: pnpm install --frozen-lockfile --strict-peer-dependencies --aggregate-output
