name: Tests

on:
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    pull_request:
        branches:
            - master

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
            - uses: ./.github/workflows/setup
            - run: pnpm lint

    e2e:
        needs: [lint]
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]

        steps:
            - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
            - uses: ./.github/workflows/setup

            - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
              if: ${{ !env.ACT }}
              id: relate-e2e-dbms-cache
              with:
                  path: 'e2e/relate fixtures/cache/dbmss'
                  key: relate-e2e-dbms-${{ runner.os }}
            - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
              if: ${{ !env.ACT }}
              id: relate-e2e-runtime-cache
              with:
                  path: 'e2e/relate fixtures/cache/runtime'
                  key: relate-e2e-runtime-${{ runner.os }}

            - run: pnpm test:setup
            - run: pnpm test
